
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li><a href="#/dashboard.html">Home</a><i class="fa fa-circle"></i></li>
    <li><a ui-sref="page.patients">Patients</a><i class="fa fa-circle"></i></li>
    <li>Profile</li>
  </ul>
</div>
<h3 class="page-title"> Patient profile</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT-->
<div ng-controller="UserProfileController as patientProfile" class="page-content-container">
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PROFILE SIDEBAR-->
      <div class="profile-sidebar">
        <!-- PORTLET MAIN-->
        <div class="portlet light profile-sidebar-portlet">
          <!-- END SIDEBAR USERPIC-->
          <!-- SIDEBAR USER TITLE-->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name"> Marcus Doe</div>
            <div class="profile-usertitle-job">P99200399488</div>
            <div class="btn-group">
              <button type="button" class="btn btn-success">Verified</button>
              <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-success dropdown-toggle"><i class="fa fa-angle-down"></i></button>
              <ul role="menu" class="dropdown-menu">
                <li><a href="javascript:;"> Action</a></li>
                <li><a href="javascript:;"> Another action</a></li>
                <li><a href="javascript:;"> Something else here</a></li>
              </ul>
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE-->
          <!-- SIDEBAR MENU-->
          <div class="profile-usermenu">
            <ul class="nav">
              <li ng-class="{active: $state.includes('page.profile.overview')}"><a ui-sref="page.profile.overview"> Overview</a></li>
              <li ng-class="{active: $state.includes('page.profile.complaints')}"><a ui-sref="page.profile.complaints">Complaints</a></li>
              <li ng-class="{active: $state.includes('page.profile.complaints')}"><a ui-sref="page.profile.complaints">Notes & Tasks</a></li>
              <li ng-class="{active: $state.includes('page.profile.complaints')}"><a ui-sref="page.profile.complaints">History</a></li>
              <li ng-class="{active: $state.includes('page.profile.complaints')}"><a ui-sref="page.profile.complaints">Orders</a></li>
              <li ng-class="{active: $state.includes('page.profile.complaints')}"><a ui-sref="page.profile.complaints">Prescriptions</a></li>
            </ul>
          </div>
          <!-- END MENU-->
        </div>
        <!-- END PORTLET MAIN-->
        <!-- PORTLET MAIN-->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption caption-md"><span class="caption-subject font-blue-madison bold uppercase">About Marcus Doe</span></div>
            <div class="actions">
              <div data-toggle="buttons" class="btn-group btn-group-devided">
                <button class="btn default btn-outline"><i class="fa fa-edit"></i>&nbsp Edit</button>
              </div>
            </div>
          </div>
          <div class="portlet-body">
            <div class="number-stats margin-bottom-30">
              <table>
                <tr>
                  <td>Health card:</td>
                  <td class="pull-right bold">4873 4895 2341 RX</td>
                </tr>
                <tr>
                  <td>Expiry:</td>
                  <td class="pull-right bold">October 23, 2017</td>
                </tr>
                <tr>
                  <td>Date of birth:</td>
                  <td class="pull-right bold">July 12, 1986</td>
                </tr>
                <tr>
                  <td>Member expiry:</td>
                  <td class="pull-right bold">April 1, 2014</td>
                </tr>
                <tr>
                  <td>Member expiry:</td>
                  <td class="pull-right bold">April 1, 2016</td>
                </tr>
                <tr>
                  <td>Account manager:</td>
                  <td class="pull-right bold">Bob Nilson</td>
                </tr>
                <tr>
                  <td>Last online visit:</td>
                  <td class="pull-right bold">October 17, 2015</td>
                </tr>
                <tr>
                  <td>Online account:</td>
                  <td class="pull-right">
                    <div class="label label-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>Diagnosis:</td>
                  <td class="pull-right bold">Arthritis</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- END PORTLET MAIN-->
      </div>
      <!-- END BEGIN PROFILE SIDEBAR-->
      <!-- BEGIN PROFILE CONTENT-->
      <div ui-view="" name="profile-view" class="profile-content fade-in-up"></div>
      <!-- END PROFILE CONTENT-->
    </div>
  </div>
  <!-- END PAGE CONTENT-->
  
</div>