/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea
/web/uploads
/web/uploads/Work/IndexBundle/Entity/VideoSlideshow
/web/uploads/Work/SpaBundle/Entity/Personnel
/web/uploads/Work/SpaBundle/Entity/Slideshow
/web/uploads/cache
/.idea/workspace.xml
/.idea/*
node_modules
coverage/
*~
