
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices-->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default-->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle-->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle-->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle-->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar-->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer-->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side-->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu-->
<!--body.page-header-fixed.page-sidebar-closed-hide-logo.page-on-load(ng-controller='AppController', ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}")-->
<div id="view-content" ng-controller="AppController" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
  <!-- BEGIN PAGE SPINNER-->
  <div ng-spinner-bar="" class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <!-- END PAGE SPINNER-->
  <!-- BEGIN HEADER-->
  <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"></div>
  <!-- END HEADER-->
  <div class="clearfix"></div>
  <!-- BEGIN CONTAINER-->
  <div class="page-container">
    <!-- BEGIN SIDEBAR-->
    <div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"></div>
    <!-- END SIDEBAR-->
    <!-- BEGIN CONTENT-->
    <div class="page-content-wrapper">
      <div class="page-content">
        <!-- BEGIN ACTUAL CONTENT-->
        <div ui-view="" name="page-view" class="fade-in-up"></div>
        <!-- END ACTUAL CONTENT-->
      </div>
    </div>
    <!-- END CONTENT-->
  </div>
  <!-- END CONTAINER-->
  <!-- BEGIN FOOTER-->
  <div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController" class="page-footer"></div>
  <!-- END FOOTER-->
  
</div>