.row
  .col-md-6
    // BEGIN PORTLET
    .portlet.light
      .portlet-title
        .caption.caption-md
          i.icon-bar-chart.theme-font.hide
          span.caption-subject.font-blue-madison.bold.uppercase Your Activity
          span.caption-helper.hide weekly stats...
        .actions
          .btn-group.btn-group-devided(data-toggle='buttons')
            label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
              input#option1.toggle(type='radio', name='options')
              | Today
            label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
              input#option2.toggle(type='radio', name='options')
              | Week
            label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
              input#option2.toggle(type='radio', name='options')
              | Month
      .portlet-body
        .row.number-stats.margin-bottom-30
          .col-md-6.col-sm-6.col-xs-6
            .stat-left
              .stat-chart
                // do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break
                #sparkline_bar
              .stat-number
                .title  Total
                .number  2460
          .col-md-6.col-sm-6.col-xs-6
            .stat-right
              .stat-chart
                // do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break
                #sparkline_bar2
              .stat-number
                .title  New
                .number  719
        .table-scrollable.table-scrollable-borderless
          table.table.table-hover.table-light
            thead
              tr.uppercase
                th(colspan='2')  MEMBER
                th  Earnings
                th  CASES
                th  CLOSED
                th  RATE
            tr
              td
                a.primary-link(href='#') Brain
              td  $345
              td  45
              td  124
              td
                span.bold.theme-font 80%
            tr
              td
                a.primary-link(href='#') Nick
              td  $560
              td  12
              td  24
              td
                span.bold.theme-font 67%
            tr
              td
                a.primary-link(href='#') Tim
              td  $1,345
              td  450
              td  46
              td
                span.bold.theme-font 98%
            tr
              td
                a.primary-link(href='#') Tom
              td  $645
              td  50
              td  89
              td
                span.bold.theme-font 58%
    // END PORTLET
  .col-md-6
    // BEGIN PORTLET
    .portlet.light
      .portlet-title.tabbable-line
        .caption.caption-md
          i.icon-globe.theme-font.hide
          span.caption-subject.font-blue-madison.bold.uppercase Feeds
        ul.nav.nav-tabs
          li.active
            a(href='#', data-target='#tab_1_1', data-toggle='tab')  System
          li
            a(href='#', data-target='#tab_1_2', data-toggle='tab')  Activities
      .portlet-body
        // BEGIN TABS
        .tab-content
          #tab_1_1.tab-pane.active
            .scroller(style='height: 320px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
              ul.feeds
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-success
                          i.fa.fa-bell-o
                      .cont-col2
                        .desc
                          | You have 4 pending tasks.
                          span.label.label-sm.label-info
                            | Take action
                            i.fa.fa-share
                  .col2
                    .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New version v1.4 just lunched!
                    .col2
                      .date  20 mins
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-danger
                          i.fa.fa-bolt
                      .cont-col2
                        .desc  Database server #12 overloaded. Please fix the issue.
                  .col2
                    .date  24 mins
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New order received and pending for process.
                  .col2
                    .date  30 mins
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-success
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New payment refund and pending approval.
                  .col2
                    .date  40 mins
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-warning
                          i.fa.fa-plus
                      .cont-col2
                        .desc  New member registered. Pending approval.
                  .col2
                    .date  1.5 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-success
                          i.fa.fa-bell-o
                      .cont-col2
                        .desc
                          | Web server hardware needs to be upgraded.
                          span.label.label-sm.label-default  Overdue
                  .col2
                    .date  2 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-default
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Prod01 database server is overloaded 90%.
                  .col2
                    .date  3 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-warning
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New group created. Pending manager review.
                  .col2
                    .date  5 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Order payment failed.
                  .col2
                    .date  18 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-default
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New application received.
                  .col2
                    .date  21 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Dev90 web server restarted. Pending overall system check.
                  .col2
                    .date  22 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-default
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New member registered. Pending approval
                  .col2
                    .date  21 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  L45 Network failure. Schedule maintenance.
                  .col2
                    .date  22 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-default
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Order canceled with failed payment.
                  .col2
                    .date  21 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Web-A2 clound instance created. Schedule full scan.
                  .col2
                    .date  22 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-default
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  Member canceled. Schedule account review.
                  .col2
                    .date  21 hours
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-info
                          i.fa.fa-bullhorn
                      .cont-col2
                        .desc  New order received. Please take care of it.
                  .col2
                    .date  22 hours
          #tab_1_2.tab-pane
            .scroller(style='height: 337px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
              ul.feeds
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New order received
                    .col2
                      .date  10 mins
                li
                  .col1
                    .cont
                      .cont-col1
                        .label.label-sm.label-danger
                          i.fa.fa-bolt
                      .cont-col2
                        .desc
                          | Order #24DOP4 has been rejected.
                          span.label.label-sm.label-danger
                            | Take action
                            i.fa.fa-share
                  .col2
                    .date  24 mins
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
                li
                  a(href='#')
                    .col1
                      .cont
                        .cont-col1
                          .label.label-sm.label-success
                            i.fa.fa-bell-o
                        .cont-col2
                          .desc  New user registered
                    .col2
                      .date  Just now
        // END TABS
    // END PORTLET
.row
  .col-md-6
    // BEGIN PORTLET
    .portlet.light
      .portlet-title
        .caption.caption-md
          i.icon-bar-chart.theme-font.hide
          span.caption-subject.font-blue-madison.bold.uppercase Customer Support
          span.caption-helper 45 pending
        .inputs
          .portlet-input.input-inline.input-small
            .input-icon.right
              i.icon-magnifier
              input.form-control.form-control-solid(type='text', placeholder='search...')
      .portlet-body
        .scroller(style='height: 305px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
          .general-item-list
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Nick Larson
                  span.item-label 3 hrs ago
                span.item-status
                  span.badge.badge-empty.badge-success
                  |  Open
              .item-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Mark
                  span.item-label 5 hrs ago
                span.item-status
                  span.badge.badge-empty.badge-warning
                  |  Pending
              .item-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Nick Larson
                  span.item-label 8 hrs ago
                span.item-status
                  span.badge.badge-empty.badge-primary
                  |  Closed
              .item-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Nick Larson
                  span.item-label 12 hrs ago
                span.item-status
                  span.badge.badge-empty.badge-danger
                  |  Pending
              .item-body
                | Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Richard Stone
                  span.item-label 2 days ago
                span.item-status
                  span.badge.badge-empty.badge-danger
                  |  Open
              .item-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Dan
                  span.item-label 3 days ago
                span.item-status
                  span.badge.badge-empty.badge-warning
                  |  Pending
              .item-body
                | Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .item
              .item-head
                .item-details
                  a.item-name.primary-link(href='') Larry
                  span.item-label 4 hrs ago
                span.item-status
                  span.badge.badge-empty.badge-success
                  |  Open
              .item-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    // END PORTLET
  .col-md-6
    // BEGIN PORTLET
    .portlet.light.tasks-widget
      .portlet-title
        .caption.caption-md
          i.icon-bar-chart.theme-font.hide
          span.caption-subject.font-blue-madison.bold.uppercase Tasks
          span.caption-helper 16 pending
        .inputs
          .portlet-input.input-small.input-inline
            .input-icon.right
              i.icon-magnifier
              input.form-control.form-control-solid(type='text', placeholder='search...')
      .portlet-body
        .task-content
          .scroller(style='height: 282px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
            // START TASK LIST
            ul.task-list
              li
                .task-checkbox
                  input(type='hidden', value='1', name='test')
                  input.liChild(type='checkbox', value='2', name='test')
                .task-title
                  span.task-title-sp  Present 2013 Year IPO Statistics at Board Meeting
                  span.label.label-sm.label-success Company
                  span.task-bell
                    i.fa.fa-bell-o
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Hold An Interview for Marketing Manager Position
                  span.label.label-sm.label-danger Marketing
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  AirAsia Intranet System Project Internal Meeting
                  span.label.label-sm.label-success AirAsia
                  span.task-bell
                    i.fa.fa-bell-o
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Technical Management Meeting
                  span.label.label-sm.label-warning Company
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Kick-off Company CRM Mobile App Development
                  span.label.label-sm.label-info Internal Products
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Prepare Commercial Offer For SmartVision Website Rewamp
                  span.label.label-sm.label-danger SmartVision
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Sign-Off The Comercial Agreement With AutoSmart
                  span.label.label-sm.label-default AutoSmart
                  span.task-bell
                    i.fa.fa-bell-o
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  Company Staff Meeting
                  span.label.label-sm.label-success Cruise
                  span.task-bell
                    i.fa.fa-bell-o
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
              li.last-line
                .task-checkbox
                  input.liChild(type='checkbox', value='')
                .task-title
                  span.task-title-sp  KeenThemes Investment Discussion
                  span.label.label-sm.label-warning KeenThemes
                .task-config
                  .task-config-btn.btn-group
                    a.btn.btn-xs.default(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                      i.fa.fa-cog
                      i.fa.fa-angle-down
                    ul.dropdown-menu.pull-right
                      li
                        a(href='#')
                          i.fa.fa-check
                          |  Complete
                      li
                        a(href='#')
                          i.fa.fa-pencil
                          |  Edit
                      li
                        a(href='#')
                          i.fa.fa-trash-o
                          |  Cancel
            // END START TASK LIST
        .task-footer
          .btn-arrow-link.pull-right
            a(href='#') See All Tasks
    // END PORTLET
// BEGIN MAIN JS
script.
  Profile.init(); // init page demo
// BEGIN MAIN JS

